body {
    font-family: cursive;
    background-color: rebeccapurple;
    
  }
  
  select {
    background-color: #fff;
    padding: 0.5rem;
    font-weight: bold;
    border: none;
    border-radius: 0.2rem;
    margin-right: 0.1rem;
    cursor: pointer;
    color: #28d126;
  }
  .h1{
    
  }
  
  .h1,h2,h3,h4,h5,h6{
    margin-bottom: .5rem;
    font-weight: 500;
    color: #fff;
    line-height: 1.2;
  }

  .btn {
    background-color: #fff;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 5px;
    transition: all 0.5s cubic-bezier(0.82,-0.59, 0.27, 1.55);
  }

.btn-outline-primary {
    color: #e7ece7;
    border-color: rebeccapurple;
}

  .btn:focus,
  .btn:hover {
    box-shadow: #fff 2px 2px 2px 1px inset, #fff -2px -2px 10px 1px inset;
  }

.set{
    color: #fff;
}
